<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Word Counter</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Word Counter</h1>
    </div>
    <div>
      <form action="/wordcounter" method="post">
        <div class="form-group">
          <label for="userInputSentence">Enter a sentence:</label>
          <br>
          <textarea rows="5" cols="80" id="userInputSentence" autofocus="autofocus" required>
          </textarea>
        </div>
        <div class="form-group">
          <label for="userInputWord">Enter a word to search in that sentence:</label>
          <br>
          <input id="userInputWord" name="userInputWord" type="text" required>
        </div>
        <button type="submit" class="btn btn-dark">Search!</button>
      </form>
    </div>
  </div>
</body>
</html>

<!--  -->
