<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Word Counter</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Word Counter</h1>
    </div>
    <div>
      <h3>Welcome!</h3>
      <br>
      <p>Thanks for checking out my Word Counter. Don't hesitate to <a href="mailto:marcdaviesriot@gmail.com">contact me</a> if you have any questions or feedback.</p>
      <br>
      <h3>How this application works:</h3>
      <br>
      <p>This application will ask you for two inputs:</p>
      <ol>
        <li>A sentence</li>
        <li>A word</li>
      </ol>
      <p>You can then click on the <em>Search!</em> button to see how many times the word appears in the sentence.</p>
      <a href='/wordcounter/new' class="btn btn-dark">Try the Word Counter</a>
    </div>
  </div>
</body>
</html>
